$primary-color: var(--nge-primary-color, #fafafa);
$primary-foreground-color: var(--nge-primary-foreground-color, #18181b);

$secondary-color: var(--nge-secondary-color, #27272a);

$destructive-color: var(--nge-destructive-color, #7f1d1d);
$destructive-foreground-color: var(--nge-destructive-foreground-color, #fef2f2);

$background-color: var(--nge-background-color, #09090b);
