$primary: var(--primary, #6cbaac);
$primary-dark: var(--primary-dark, #2a5753);
$primary-light: var(--primary-dark, #d8efe9);

$disruptive: var(--disruptive, #f25647);
$disruptive-light: var(--disruptive-light, #fdaca4);
$disruptive-dark: var(--disruptive-dark, #bb281a);

$destructive: var(--destructive, #f25647);
$destructive-light: var(--destructive-light, #fdaca4);
$destructive-dark: var(--destructive-dark, #bb281a);

$background: var(--background, #ffffff);

$text-color: var(--text-color, #1a1a1a);
$text-color-muted: var(--text-color-muted, #6d6d6d);
$text-color-light: var(--text-color-light, #b0b0b0);
