@import '../../../stylesheets/base/variables';
@import '../../../stylesheets/base/colors';

:host {
  border-radius: baseUnit(0.75);
  background-color: $background-color;
  border: 1px solid $secondary-color;
  box-shadow: 0 1px 2px 0 #0000000d;
  width: fit-content;
  display: block;
}
