.bg-cta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: var(--space-xl, 2rem);
    background-image: linear-gradient(to right, #408c82d6, #1c2322cf),
      url('https://s3.eu-north-1.amazonaws.com/cdn.no-gravity.es/webs/fisiofit/service-5.webp');
    background-size: cover;
    background-position: center;
  
    &::before {
      content: url('/assets/svgs/abstract-design.svg');
      position: absolute;
      top: 0;
      left: 0px;
    }
  
    .main-call {
      display: flex;
      flex-direction: column;
      gap: var(--space-s, 1rem);
  
      h5,
      p {
        color: var(--text-color-50, #ffffff);
      }
  
      h5 {
        font-weight: 600;
      }
    }
  }
  
  :host {
    display: block;
    padding: var(--section-padding, 2rem);
  }
  
  @media only screen and (max-width: 768px) {
    .bg-cta {
      flex-direction: column;
      align-items: inherit;
      padding: var(--space-l, 1.5rem);
  
      .main-call {
        h5,
        p {
          text-align: center;
        }
      }
  
      slot[name='button'] {
        margin-top: var(--space-m, 1rem);
        width: 100%;
      }
    }
  }
  