.bg-cta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--nge-cta-banner-padding, 80px);
    border-radius: var(--nge-cta-banner-border-radius, 10px);
    background-image: var(--nge-cta-banner-background-image, linear-gradient(to right, #408c82d6, #1c2322cf), url('https://s3.eu-north-1.amazonaws.com/cdn.no-gravity.es/webs/fisiofit/service-5.webp'));
    background-size: cover;
    background-position: center;
  
    &::before {
      content: url('https://s3.eu-north-1.amazonaws.com/cdn.no-gravity.es/no-gravity-elements/abstract-design.svg');
      position: absolute;
      top: 0;
      left: 0px;
    }
  
    .main-call {
      display: flex;
      flex-direction: column;
      gap: var(--nge-cta-banner-gap, 16px);
  
      h5,
      p {
        color: var(--nge-cta-banner-text-color, #ffffff);
        margin: 0;
      }
  
      h5 {
        font-weight: var(--nge-cta-banner-title-font-weight, 600);
        font-size: 26px;
        line-height: 39px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .bg-cta {
      flex-direction: column;
      align-items: inherit;
      padding: var(--space-l, 1.5rem);
  
      .main-call {
        h5,
        p {
          text-align: center;
        }
      }
  
      ::slotted(nge-button) {
          margin-top: var(--nge-banner-button-margin-top, 16px) !important;
          --nge-button-width: 100%;
          --nge-button-justify-content: center;
      }
    }
  }
  