@import '../../../stylesheets/base/variables';

$button-border-radius: var(--nge-button-border-radius, baseUnit(0.75));

@mixin button-styles {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: baseUnit(5);
  column-gap: baseUnit(1);
  padding: var(--nge-button-padding, baseUnit(1.25) baseUnit(2));
  border-radius: $button-border-radius;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: var(--nge-button-transition, #{background-color 0.2s ease, color 0.2s ease});
  border: var(--nge-button-border, none);
}

@mixin button-hover($bg: red) {
  &:hover {
    background-color: $bg;
  }
}
@mixin button-active($bg: red, $textColor: #{$background}) {
  &:active {
    background-color: $bg;
    --text-color: #{$textColor};
  }
}
  .nge-button {
    width: var(--nge-button-width, auto);
    font-size: var(--nge-button-font-size, 16px);
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-button;
    color: var(--text-color);
    background: unset;
    @include button-styles();

    &.disabled {
      cursor: default;
      pointer-events: none;
      opacity: .5;
    }


  &.primary { 
    @include button-hover($primary-hover);
    @include button-active($primary-active);
    background-color: $primary;
    color: var(--text-color, white);
  }

  &.disruptive {
    @include button-hover($disruptive-hover);
    @include button-active($disruptive-active);
    background-color: $disruptive;
    color: var(--text-color, white);
  }

  &.destructive {
    @include button-hover($destructive-hover);
    @include button-active($destructive-active);
    background-color: $destructive;
    color: var(--text-color, white);
  }

  &.outline {
    @include button-hover($primary-light);
    @include button-active($primary-light-active, $primary-hover);
    color: var(--text-color, #{$primary});
    --nge-button-border: 1px solid #{$primary};
    background-color: $background;
  }

  &.ghost {
    @include button-hover($primary-light);
    @include button-active($primary-light-active, $primary-hover);
    color: var(--text-color, #{$primary});
    background-color: $background;
  }
}


