@import '../../../stylesheets/base/variables';

@mixin button-styles {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: baseUnit(5);
  column-gap: baseUnit(1);
  padding: baseUnit(1.25) baseUnit(2);
  border-radius: baseUnit(0.75);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
}

@mixin button-hover {
  &::after {
    content: '';
    background-color: var(--hover-background-color);
    border-radius: baseUnit(0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

:host {
  .primary,
  button:disabled {
    @include button-styles;
    @include button-hover;
    background-color: $primary;
    --hover-background-color: $primary-dark;
    --color: white;
    &:hover::after {
      opacity: 1;
    }
  }

  .secondary {
    @include button-styles;
    @include button-hover;
    background-color: $primary-dark;
    --color: #{$primary};
    &:hover::after {
      opacity: 0.2;
    }
  }

  .destructive {
    @include button-styles;
    @include button-hover;
    background-color: $destructive;
    --color: #{$destructive-light};
    &:hover::after {
      opacity: 0.1;
    }
  }

  .outline {
    @include button-styles;
    border: 1px solid $primary-dark;
    background-color: $background;
    --color: #{$primary};
    &:hover {
      background-color: $primary-dark;
    }
  }

  .ghost {
    @include button-styles;
    background-color: $background;
    --color: #{$primary};
    &:hover {
      background-color: $primary-dark;
    }
  }

  button:disabled {
    cursor: default;
    pointer-events: none;
    &::after,
    &:hover::after {
      opacity: 0.5;
    }
  }
}
