@import '../../../stylesheets/base/variables';

:host {
  display: contents;
  span {
    display: block;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }

    svg:not([fill='none']),
    svg [fill]:not([fill='none']) {
      fill: var(--text-color, #{$primary}) !important;
      stroke: var(--text-color, #{$primary}) !important;
    }

    svg path[stroke] {
      stroke: var(--text-color, #{$primary}) !important;
    }

    &.extra-small {
      width: baseUnit(1.5);
    }

    &.small {
      width: baseUnit(2);
    }

    &.medium {
      width: baseUnit(2.5);
    }

    &.regular {
      width: baseUnit(3);
    }

    &.large {
      width: baseUnit(4);
    }

    &.extra-large {
      width: baseUnit(6);
    }
  }
}
