@import '../../../stylesheets/base/variables';
@import '../../../stylesheets/base/colors';

a {
  text-decoration: none;
  position: relative;
  &:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: baseUnit(0.125);
    background-color: var(--color, #{$primary-color});
    position: absolute;
    bottom: baseUnit(-0.25);
    left: 0;
    border-radius: baseUnit(0.75);
  }
}
