@import '../../../stylesheets/base/typography';
@import '../../../stylesheets/base/colors';

:host {
  color: var(--color, #{$primary-color});
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  & > * {
    margin: 0;
  }
}
